In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
data = pd.read_csv('people_data.csv')

In [45]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
age = data.iloc[:,1:4]

imputer = imputer.fit(age)
age = imputer.transform(age)

country = data.iloc[:,0:1].values

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
country[:,0] = le.fit_transform(data.iloc[:,0])

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
country = ohe.fit_transform(country).toarray()

gender = data.iloc[:,-1:].values

gender[:,-1] = le.fit_transform(data.iloc[:,-1])

gender = ohe.fit_transform(gender).toarray()

In [46]:
country = pd.DataFrame(data = country, index=range(22), columns=['fr', 'tr', 'us'])

age = pd.DataFrame(data = age, index=range(22), columns=['boy', 'kilo', 'yas'])

gender = pd.DataFrame(data = gender[:,:1], index=range(22), columns=['cinsiyet'])

table = pd.concat([country, age], axis = 1)
aim = pd.concat([table, gender], axis = 1)

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(table, gender, test_size=0.33, random_state=17)

In [67]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

height = aim.iloc[:,3:4]
right_of_height = aim.iloc[:,:3]
left_of_height = aim.iloc[:,4:]

my_data = pd.concat([left_of_height, right_of_height], axis = 1)

X_train, X_test, y_train, y_test = train_test_split(my_data, height, test_size=0.33, random_state=17)
lr.fit(X_train, y_train)
prediction = lr.predict(X_test)
prediction

array([[123.0408392 ],
       [164.96538758],
       [205.76686485],
       [146.6698909 ],
       [189.0031785 ],
       [134.92383025],
       [154.64596837],
       [139.34921415]])

             0    boy
0   123.040839  130.0
1   164.965388    NaN
2   205.766865  135.0
3   146.669891  133.0
4   189.003178    NaN
5   134.923830  180.0
6   154.645968    NaN
7   139.349214    NaN
12         NaN  160.0
9          NaN  185.0
19         NaN  159.0
11         NaN  155.0